# =========================
# keepalived 기본 설정
# =========================
keepalived_enable: true
keepalived_interface: "ens160"
keepalived_vip: "10.2.2.254/32"
keepalived_router_id: 51

# 프록시 이중화 우선순위
keepalived_priority_map:
  proxy1: 150
  proxy2: 100

# 헬스체크 스크립트
keepalived_check_script: "/usr/local/bin/chk_keepalived_link.sh"

# 방화벽
proxy_manage_firewalld: true

# =========================
# ProxySQL 설정
# =========================
proxysql_admin_user: "admin"
proxysql_admin_password: "{{ vault_proxysql_admin_password }}"
proxysql_mysql_port: 6033
proxysql_admin_port: 6032

# 앱 → ProxySQL 접속 계정
app_db_user: "appuser"
app_db_password: "{{ vault_app_db_password }}"

# ProxySQL monitor 계정 (백엔드 DB에 생성되어 있어야 함)
proxysql_monitor_user: "monitor"
proxysql_monitor_password: "{{ vault_proxysql_monitor_password }}"

# =========================
# DB 노드 정보
# =========================
db_writer_host: "10.2.3.2"   # DB-A
db_reader_host: "10.2.3.3"   # DB-S
db_port: 3306

# ProxySQL Hostgroups
hg_writer: 10
hg_reader: 20

# =========================
# DB Failover Daemon
# =========================
db_failover_enable: true
db_check_interval: 2
db_connect_timeout: 2

# =========================
# DB 제어 권한 (현재는 root 사용)
# ※ 추후 failover_admin으로 교체 권장
# =========================
mysql_root_password: "{{ vault_mysql_root_password }}"

# =========================
# keepalived 인증 패스워드
# =========================
vip_auth_pass: "{{ vault_vip_auth_pass }}"

mysql_failover_user: "failover_admin"
mysql_failover_password: "{{ vault_mysql_failover_password }}"

