---
- name: Create ProxySQL monitor user on DB nodes
  ansible.builtin.shell: |
    set -e
    mysql -e "CREATE USER IF NOT EXISTS '{{ proxysql_monitor_user }}'@'%' IDENTIFIED BY '{{ proxysql_monitor_password }}';"
    mysql -e "GRANT USAGE ON *.* TO '{{ proxysql_monitor_user }}'@'%';"
    mysql -e "GRANT REPLICATION CLIENT ON *.* TO '{{ proxysql_monitor_user }}'@'%';"
    mysql -e "FLUSH PRIVILEGES;"
  args:
    executable: /bin/bash
  changed_when: false

